<div class="card mt-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments(15,333)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Pavan Gupta</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2024</small>
            <div class="mt-3 mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt nobis eveniet sed deleniti pariatur placeat hic, veritatis modi mollitia eius, temporibus sapiente esse ipsa quod harum atque natus iusto ipsum qui laudantium at nemo saepe distinctio. Modi reprehenderit dolor omnis voluptate. Sequi ullam nobis, sed blanditiis ipsa architecto aperiam, quod dicta natus doloribus repellat ab, quibusdam repudiandae magnam consectetur?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Pavan Gupta</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2024</small>
            <div class="mt-3 mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt nobis eveniet sed deleniti pariatur placeat hic, veritatis modi mollitia eius, temporibus sapiente esse ipsa quod harum atque natus iusto ipsum qui laudantium at nemo saepe distinctio. Modi reprehenderit dolor omnis voluptate. Sequi ullam nobis, sed blanditiis ipsa architecto aperiam, quod dicta natus doloribus repellat ab, quibusdam repudiandae magnam consectetur?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Pavan Gupta</h6>
            <small class="text-danger">LAST UPDATED - SEP 20,2024</small>
            <div class="mt-3 mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nesciunt nobis eveniet sed deleniti pariatur placeat hic, veritatis modi mollitia eius, temporibus sapiente esse ipsa quod harum atque natus iusto ipsum qui laudantium at nemo saepe distinctio. Modi reprehenderit dolor omnis voluptate. Sequi ullam nobis, sed blanditiis ipsa architecto aperiam, quod dicta natus doloribus repellat ab, quibusdam repudiandae magnam consectetur?
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View Reply</a>
            <hr>
        </div>
    </div>
</div>